{% extends "base.html" %}

{% block title %}Add item to socialibrary{% endblock %}
{% block body %}
<script type="text/javascript">
   
  var txt_Book =  "<div class='clearfix'> \
    <label>Search category:<\/label> \
     <div class='input'> \
      <select name='category' id='category' onchange='formreload(this.form)'> \
      <option value='1' selected='selected'>Book<\/option> \
      <option value='2'>Movie<\/option> \
      <option value='3'>Game<\/option> \
      <\/select> \
      <\/div> \
      <\/div> \
    <div class='clearfix'> \
    <label>Rating: <\/label> \
     <div class='input'> \
      <select name='rating' id='rating'> \
      <option value='1'>1<\/option> \
      <option value='2'>2<\/option> \
      <option value='3'>3<\/option> \
      <option value='4'>4<\/option> \
      <option value='5'>5<\/option> \
      <\/select> <br\/> <br\/> \
      <\/div> \
      <\/div> \
    <div class='clearfix'> \
    <label>Author: <\/label> \
    <div class='input'> \
    <input type='text' name='author' id='author'\/> <br\/> <br\/> \
      <\/div> \
      <\/div> \
    <div class='clearfix'> \
    <label>Title: <\/label> \
    <div class='input'> \
    <input type='text' name='title' id='title'\/> <br\/> <br\/> \
    <\/div> \
    <\/div> \
    <div class='actions'> \
    <button type='button' class='btn primary' name='addbook' id='addbook' onclick='sendrequest(this.form)'> add book <\/button> \
    <\/div> \
    ";


    var txt_Movie = "<div class='clearfix'> \
    <label>Search category:<\/label> \
     <div class='input'> \
     <select name='category' id='category' onchange='formreload(this.form)'> \
      <option value='1'>Book<\/option> \
      <option value='2' selected='selected'>Movie<\/option> \
      <option value='3'>Game<\/option> \
      <\/select>  \
    <\/div> \
      <\/div> \
    <div class='clearfix'> \
    <label>Rating: <\/label> \
     <div class='input'> \
     <select name='rating' id='rating'> \
      <option value='1'>1<\/option> \
      <option value='2'>2<\/option> \
      <option value='3'>3<\/option> \
      <option value='4'>4<\/option> \
      <option value='5'>5<\/option> \
      <\/select>  \
    <\/div> \
      <\/div> \
    <div class='clearfix'> \
    <label>Actor: <\/label> \
     <div class='input'> \
    <input type='text' name='actor' id='actor'\/>  \
    <\/div> \
      <\/div> \
    <div class='clearfix'> \
    <label>Title: <\/label> \
     <div class='input'> \
    <input type='text' name='title' id='title'\/>  \
     <\/div> \
     <\/div> \
    <div class='clearfix'> \
    <label>Genre: <\/label> \
     <div class='input'> \
      <select name='genre' id='genre'> \
      <option value='Action'>Action<\/option> \
      <option value='Adventure'>Adventure<\/option> \
      <option value='Animation'>Animation<\/option> \
      <option value='Biography'>Biography<\/option> \
      <option value='Comedy'>Comedy<\/option> \
      <option value='Documentary'>Documentary<\/option> \
      <option value='Drama'>Drama<\/option> \
      <option value='Family'>Family<\/option> \
      <option value='Fantasy'>Fantasy<\/option> \
      <option value='Horror'>Horror<\/option> \
      <option value='Musical'>Musical<\/option> \
      <option value='Romance'>Romance<\/option> \
      <option value='Science Fiction'>Science Fiction<\/option> \
      <option value='Thriller'>Thriller<\/option> \
      <option value='War'>War<\/option> \
      <option value='Western'>Western<\/option> \
      <\/select> \
    <\/div> \
     <\/div> \
    <div class='clearfix'> \
    <label>Platform: <\/label> \
     <div class='input'> \
      <select name='Platform' id='Platform'> \
      <option value='DVD'>DVD<\/option> \
      <option value='Bluray'>Bluray<\/option> \
      <option value='VCD'>VCD<\/option> \
      <option value='Other'>Other<\/option> \
      <\/select> \
    <\/div> \
     <\/div> \
     <div class='actions'> \
    <button type='button' class='btn primary' name='addmovie' id='addmovie' onclick='sendrequest(this.form)'> add movie <\/button> \
    <\/div> \
    ";

  var txt_Game = "<div class='clearfix'> \
    <label>Search category:<\/label> \
     <div class='input'> \
      <select name='category' id='category' onchange='formreload(this.form)'> \
      <option value='1'>Book<\/option> \
      <option value='2'>Movie<\/option> \
      <option value='3' selected='selected'>Game<\/option> \
    <\/select> \
     <\/div> \
     <\/div> \
    <div class='clearfix'> \
    <label>Rating: <\/label> \
     <div class='input'> \
     <select name='rating' id='rating'> \
      <option value='1'>1<\/option> \
      <option value='2'>2<\/option> \
      <option value='3'>3<\/option> \
      <option value='4'>4<\/option> \
      <option value='5'>5<\/option> \
      <\/select>  \
      <\/div> \
     <\/div> \
    <div class='clearfix'> \
    <label>Title: <\/label> \
     <div class='input'> \
    <input type='text' name='title' id='title'\/> \
   <\/div> \
     <\/div> \
    <div class='clearfix'> \
    <label>Platform: <\/label> \
     <div class='input'> \
      <select name='Platform' id='Platform'> \
      <option value='XBox'>XBox<\/option> \
      <option value='PlayStation'>PlayStation<\/option> \
      <option value='Nintendo'>Nintendo<\/option> \
      <option value='PC'>PC<\/option> \
      <option value='Other'>Other<\/option> \
      <\/select>  \
     <\/div> \
     <\/div> \
     <div class='actions'> \
    <button type='button' class='btn primary' name='addgame' id='addgame' onclick='sendrequest(this.form)'> add game <\/button> \
    <\/div> \
    ";

  function clearmsg() {
    document.getElementById("message").innerHTML="";
  }

  function formreload(form)
  {
    var dropdownval = form.category.value;
    
    if (dropdownval == 1)
    {
    form.innerHTML=txt_Book;
    }
    else if (dropdownval == 2) {
    form.innerHTML=txt_Movie;
    }
    else {
    form.innerHTML=txt_Game;
    }

    clearmsg();
  }

  function sendrequest(form) {
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange=function()
    {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
        document.getElementById("message").innerHTML=xmlhttp.responseText;
	if (form.category.value == 1) {
	  form.innerHTML=txt_Book;
	}
	else if (form.category.value == 2) {
	  form.innerHTML=txt_Movie;
	}
	else if (form.category.value == 3) {
	  form.innerHTML=txt_Game;
	}
      }
    }

    var getparams = "";
    if (form.category.value == 1) {
      getparams += "category=" + form.category.value + "&rating=" + form.rating.value;
      getparams += "&author=" + form.author.value + "&title=" + form.title.value;
    }
    else if (form.category.value == 2) {
      getparams += "category=" + form.category.value + "&rating=" + form.rating.value;
      getparams += "&actor=" + form.actor.value + "&title=" + form.title.value;
      getparams += "&genre=" + form.genre.value;
    }
    else if (form.category.value == 3) {
      getparams += "category=" + form.category.value + "&rating=" + form.rating.value;
      getparams += "&title=" + form.title.value;
    }

    xmlhttp.open("GET", "/additem?"+getparams, true);
    xmlhttp.send();
  }
</script>
<div class="search">
  <h1>Add entity to your shelf</h1>

  <form id="addform" name="addform">
    <div class="clearfix">
    <label>Search category:</label> 
    <div class="input"> 
    <select name="category" id="category" onchange="formreload(this.form)">
      <option value="1" selected="selected">Book</option>
      <option value="2">Movie</option>
      <option value="3">Game</option>
    </select>
    </div>
    </div>
    <div class="clearfix">
    <label>Rating:</label> 
    <div class="input">
    <select name="rating" id="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    </div>
    </div>
    <div class="clearfix">
    <label>Author:</label>
    <div class="input">
    <input type="text" name="author" id="author"/><br/><br/>
    </div>
    </div>
    <div class="clearfix">
    <label>Title: </label>
    <div class="input">
    <input type="text" name="title" id="title"/><br/><br/>
    </div>
    </div>
    <div class="actions">
    <button class="btn primary" type="button" name="addbook" id="addbook" onclick="sendrequest(this.form)"> add book </button> 
    </div>
  </form>
  <div id="message" name="message">
  </div>
</div>
{% endblock %}
