{% extends "base.html" %}

{% block title %}Search socialibrary{% endblock %}
{% block body %}
<script type="text/javascript">
  function clearmsg() {
    document.getElementById("message").innerHTML="";
  }

  function sendrequest(form) {
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange=function()
    {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
        document.getElementById("message").innerHTML=xmlhttp.responseText;
        form.searchbox.value = "";
      }
    }

    var getparams = "category=" + form.category.value;
    getparams += "&searchbox=" + form.searchbox.value;

    xmlhttp.open("GET", "/searchitem?"+getparams, true);
    xmlhttp.send();
  }
</script>
<div class="search">
  <h2>Search the socialibrary</h2>

  <form id="searchform" name="searchform" action="/searchitem" style="margin-top: 1em;">
        <div id="radioset" >
          <input type="radio" id="radio1" name="radio_group" checked="checked" value="1" /><label for="radio1">Books</label>
          <input type="radio" id="radio2" name="radio_group" value="2" /><label for="radio2">Movies</label>
          <input type="radio" id="radio3" name="radio_group" value="3" /><label for="radio3">Games</label>
        </div>
        </br>
        <div class="ui-widget">
      <label for="tags">Search: </label>
      <input id="tags" />
    </div>
 </form>
  

  <div id="message" name="message" />
</div>

<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>	

<script type="text/javascript">

$('#radioset').buttonset();
    $("#format").buttonset();
$("#tags").autocomplete({
  source: function(request, response) {
  $.ajax({url:"http://localhost:8080/search_ac",
          data: { search_term: request.term, category: $('input[name=radio_group]:checked').val() },
          dataType: "json",
          method: "get",
            success:  function(data){
                      response(data);
                  },
          });},
  minLength:3,
  select:function(event,ui){
  $.ajax({url:"http://localhost:8080/searchitem",
          data: { searchbox: ui.item.label, category: $('input[name=radio_group]:checked').val() },
          dataType: "text",
          method: "get",
          success:  function(data){
                      
                      document.getElementById("message").innerHTML=data;
                  },
          error: function(x,e){
                console.error(e);
            },  
          });
  },
  
  });
  
 </script>
{% endblock %}
