{% extends "base.html" %}

{% block title %}Search socialibrary{% endblock %}
{% block body %}
<script type="text/javascript">
  function clearmsg() {
    document.getElementById("message").innerHTML="";
  }

  function sendrequest(form) {
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange=function()
    {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
        document.getElementById("message").innerHTML=xmlhttp.responseText;
        form.searchbox.value = "";
      }
    }

    var getparams = "category=" + form.category.value;
    getparams += "&searchbox=" + form.searchbox.value;

    xmlhttp.open("GET", "/searchitem?"+getparams, true);
    xmlhttp.send();
  }
</script>
<div class="search">
  <h1>Search the socialibrary</h1>

  <form id="searchform" name="searchform" action="/searchitem">
    Search category: <select name="category" id="category">
      <option value="1" selected="selected">Book</option>
      <option value="2">Movie</option>
      <option value="3">Game</option>
    </select>
    <br/><br/>
    Search: <input type="text" name="searchbox" id="searchbox"/><br/><br/>
    <button type="button" name="search" id="search" onclick="sendrequest(this.form)"> search </button> <br/>
  </form>
  <div id="message" name="message" />
</div>
{% endblock %}
