{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}


     <div class="row">
        <div class="span7">

                <div id="gallery">
                    <a href="#" class="show">
                    <img src="splash.gif" alt="Read" width="350" height="360" title=""/>
                    </a>
                    <div class="caption"><div class="content"></div></div>
                </div>
        </div>
        <div class="row">
        <div class="span4">
          <p>   What use is an old book, game or movie? Lend it through our app and get to meet new people who read the same books, play the same games and watch the same movies as you.
         </p>
        </br>

    <div class="span4">
    <h2>Your Shelf</h2>
    <div id="tabs"  class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active" ><a href="#tabs-1">Books</a></li>
    <li class="ui-state-default ui-corner-top"><a href="#tabs-2">Movies</a></li>
    <li class="ui-state-default ui-corner-top"><a href="#tabs-3">Games</a></li>
    </ul>
    <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">

    <ul>
    {% for book in books %}
    <li>{{book}}</li>
    {% endfor %}
    </ul>
    </div>
    <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">

    <ul>
    {% for movie in movies %}
    <li>{{movie}}</li>
    {% endfor %}
    </ul>
    </div>
    <div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">

    <ul>
    {% for game in games %}
    <li>{{game}}</li>
    {% endfor %}
    </ul>
    </div>
    </div>
    </div>
        </div>
       </div>
    </div>
    <!--div class="row">
        <div class="span3 offset2">
            <button class="btn primary" size="30" onClick="add()" >Add to Shelf</button>
        </div>

        <div class="span3 offset4">
            <button class="btn primary" size="30" onClick="search()" >Search Shelves</button>
        </div>

    </div-->

    <div class="row">

    </div>



<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
<script>
    picarray = ['splash.gif', 'splash2.jpg', 'splash3.jpg']
    init_value = 0
    $(document).ready(function() {

        //Execute the slideShow
        setInterval('gallery()',6000);

    });

    function gallery() {

        init_value = (init_value + 1) %3
        var current = $('#gallery a.show')
        current.fadeOut(800,function() {
            current.find('img').attr('src', picarray[init_value])
            current.fadeIn(3000)
        });
    }


</script>
<script type="text/javascript">
$('#tabs').tabs();
 function search()
 {
     top.location.href = 'http://apps.facebook.com/socialibrary/search';
    }
 function add()
 {
     top.location.href = 'http://apps.facebook.com/socialibrary/add';
    }

 </script>


{% endblock %}







