{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}
    
     <div class="row">
        <div class="span10">
            <img class="promo" alt="This is where images will come" src="/splash.jpg">
        </div>
        <div class="span3">
          <p>   What use is an old book, game or movie? Lend it through our app and get to meet new people who read the same books, play the same games and watch the same movies as you. 
         </p>
        </br>
        </br>
       </div>
    </div>
    <div class="row">
        <div class="span3 offset2">
            <button class="btn primary" size="30" onClick="add()" >Add to Shelf</button>
        </div>
        
        <div class="span3 offset4">
            <button class="btn primary" size="30" onClick="search()" >Search Shelves</button>
        </div>

    </div>
    <p>
    <h4>Here is the list of books:</h4>
    <ul>
    {% for book in books %}
    <li>{{book.title}}</li>
    {% endfor %}
    </ul>
    <h4>Here is the list of movies:</h4>
    <ul>
    {% for movie in movies %}
    <li>{{movie.title}}</li>
    {% endfor %}
    </ul>
    <h4>Here is the list of games:</h4>
    <ul>
    {% for game in games %}
    <li>{{game.title}}</li>
    {% endfor %}
    </ul>
<script type="text/javascript">
 function search()
 {
     top.location.href = 'http://apps.facebook.com/socialibrary/search';      
    }
 function add()
 {
     top.location.href = 'http://apps.facebook.com/socialibrary/add';      
    }    
 
  </script>
{% endblock %}
