{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block body %}
    
        
        
     <div class="row">
        <div class="span10">
            <img class="promo" alt="This is where images will come" src="/splash.jpg">
        </div>
        <div class="span3">
        
         <p>   What use is an old book, game or movie? Lend it through our app and get to meet new people who read the same books, play the same games and watch the same movies as you. 
        </p>
        </br>
        </br>
        <p>
        <small>Authorise to continue</small>
        </p>

        <div id="login-flow">
        <!--fb:login-button perms="email,user_location" show-faces="true" ></fb:login-button-->
        <input type="button" value="Authorise" onClick="facebookLogin()">
        </div>
        </div>
    </div>           



<script type="text/javascript">
 function facebookLogin()
 {
    FB.init({appId: '187138028036281', xfbml: true, cookie: true, oauth: true});

     
  FB.login(function(response) {
   if (response.authResponse) {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
       FB.logout(function(response) {
         console.log('Logged out.');
       });
     });
   } else {
     console.log('User cancelled login or did not fully authorize.');
   }
 }, {scope: 'user_location'});

    
    
    }
    
 
  </script>
{% endblock %}
